.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 45px 0;
}

.apple-icon {
    position: relative;
    bottom: 5px;
    cursor: pointer;
    image-rendering: pixelated;
}

.main-items {
    width: 600px;
    display: flex;
    justify-content: space-between;

    padding-left: 20px;
}

.items {
    display: inline-block;
    
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 300;
}

.form-search {
    position: relative;
    width: 320px;
    height: 45px;
}

.input-search {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-color: #fff;
    border: 1.5px solid #747474;
    border-radius: 6px;

    font-size: 15px;
    font-weight: 300;

    padding-left: 45px;
    padding-right: 15px;
}

.search-icon {
    position: absolute;
    left: -8px;
    top: -10px;
}

.hamburguer {
    display: none;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 36px;

    align-items: center;
}

.main-menu-burguer {
    display: none;
}

#menu-burguer {
    display: none;
}

#menu-burguer:checked + .menu-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-items {
    box-sizing: border-box;
    width: 65%;
    height: 100vh;

    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    display: none;
    padding: 23px 23px;
    animation: burguer 0.3s;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 	10px 0 0 10px;
}

@keyframes burguer {
    0% {
        right: -50vh;
    }

    100% {
        right: 0;
    }
}

.category-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.items-menu {
    font-size: 17px !important;
    line-height: 40px;
    text-align: right;
}

.close-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.menu-title {
    margin-top: 25px;
    margin-bottom: 5px;
}