.main-footer {
    margin-top: 120px;
    margin-bottom: 20px;

    text-align: center;
}

.subtitle-footer {
    font-size: 30px;
    color: var(--color-footer);
    font-weight: 400;

    margin-bottom: 20px;
}

.subtitle-footer.-about {
    font-size: 18px;
    font-weight: 300;
    
    color: #000;
    margin-bottom: 10px;
}

.footer-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.map-items {
    text-align: left;
    font-size: 16px;
    margin-bottom: 19px;
    font-weight: 300;
    cursor: pointer;
}

.map-main {
    font-weight: 400;
}

.footer-icon {
    display: flex;
    align-self: end;
    justify-content: center;
    gap: 60px;
}

.networks {
    width: 20px;
}

.reminder {
    font-size: 16px;

    font-weight: 300;
    line-height: 40px;
}

.by-create {
    display: block;
}