.main {
    margin-top: 80px;
}

.banner {
    text-align: center;
    margin-bottom: 140px;
}

.img-banner {
    width: 770px;
    cursor: pointer;
}

.main-subtitle {
    font-size: 25px;
    font-weight: 400;
    color: var(--color-black);
}

.subtitle-category {
    margin-top: 80px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

    margin-top: 22px;
}

.product-items {
    display: inline-block;
    width: 100%;

    margin-bottom: 90px;
}

.background-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    transition: transform 150ms cubic-bezier(.45,.97,.68,2.48);
}

.background-product:hover {
    transform: scale(1.03);
}

.products figure:nth-child(4n + 1) .background-product {
    background-color: #00A8FF;
}

.products figure:nth-child(4n + 2) .background-product {
    background-color: #9C88FF;
}

.products figure:nth-child(4n + 3) .background-product {
    background-color: #4CD137;
}

.products figure:nth-child(4n + 4) .background-product {
    background-color: #537ae3;
}


.image-product {
    width: 220px;
    max-height: 290px;
}

.items-about {
    position: relative;
    top: 20px;
}

.about {
    font-size: 16.5px;
    font-weight: 300;
}

.value {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
}

.product-slug {
    color: var(--color-footer);
}

.search-title {
    font-size: 35px;
    font-weight: 400;
    color: var(--color-black);
    margin-top: 20px;
    margin-bottom: 10px;
}

.products-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.all-products {
    color: #292929;
    text-decoration: underline;
    font-weight: 300;
}