.container-detail  {
    display: flex;
    justify-content: space-between;

    padding-top: 100px;
}

.main-image, .product-info {
    width: 50%;
    height: auto;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    box-sizing: border-box;
}

.product-info {
    padding-left: 120px;
}

.image-item {
    width: 546px;
    max-height: 800px;
}

.title-product {
    position: relative;
    color: #292929;
    font-weight: 400;
    font-size: 28px;

    padding-bottom: 20px;

    margin-bottom: 34px;
}

.title-product::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;

    background: #696969;
    border-radius: 6px;

    bottom: 0;
    left: 0;
}

.product-status {
    position: relative;
    font-weight: 500;
    font-size: 19px;

    text-transform: uppercase;

    padding-bottom: 30px;

    margin-bottom: 60px;
}

.product-status::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;

    background: #696969;
    border-radius: 6px;

    bottom: 0;
    left: 0;
}

.description-price {
    font-weight: 400;
    font-size: 19px;
    color: #4CD137;

    margin-bottom: 4px;
}

.main-price {
    display: flex;
    gap: 20px;
    align-items: center;

    margin-bottom: 45px;
}

.special-price {
    font-weight: 400;
    font-size: 35px;
    color: #4CD137;
}

.price {
    font-weight: 400;
    font-size: 25px;
    color: #FF4757;

    text-decoration: line-through;
    text-decoration-color: #272727;
}

.button-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 295px;
    height: 93px;
    cursor: pointer;

    background: #4CD137;
    border-radius: 10px;
    border: none;

    font-weight: 500;
    font-size: 18px;
    color: #fff;

    margin-bottom: 65px;

    transition: transform 150ms cubic-bezier(.45,.97,.68,2.48);
}

.button-cart:hover {
    transform: scale(1.04);
}

.cart-button {
    width: 39px;
}

.status-description {
    position: relative;
    font-weight: 400;
    font-size: 17px;
    color: #747474;

    padding-bottom: 15px;

    margin-bottom: 15px;
}

.status-description::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;

    background: #696969;
    border-radius: 6px;

    bottom: 0;
    left: 0;
}

.product-description {
    position: relative;
    font-weight: 400;
    font-size: 17px;
    color: #747474;

    padding-bottom: 15px;

    margin-bottom: 30px;
}

.product-description::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;

    background: #696969;
    border-radius: 6px;

    bottom: 0;
    left: 0;
}

.cards-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 330px;
}

.card-image {
    width: 47px;
    height: 100%;
}

.status-sucess {
    color: #4CD137;
}

.status-danger {
    color: #FF4757;
    font-weight: 500;
}