* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant';
}

*::selection {
    background-color: #b4b4b4a1;
}

/* --color-black: #121212;
    --color-footer: #292929; */

#container  {
    box-sizing: border-box;
    
    width: 1445px;
    margin: 0 auto;
}

li {
    list-style: none;   
}

a {
    text-decoration: none;
}

.input-search {
    outline: 0;
}