@media only screen and (max-width: 1530px) {

/* Header */

    #container {
        width: 1280px;
        padding: 0 60px;
    }

    .apple-icon {
        width: 50px;
    }

    .main-items {
        width: 500px;
    }

    .items {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 16px;
    }

    .form-search {
        width: 250px;
        height: 37px;
    }

    .input-search {
        font-size: 14px;
    }

    .search-icon { 
        top: -13px;
    }

    .icons {
        grid-gap: 35px;
        
    }

    .customer-icon {
        width: 20px;
    }

    .cart-icon {
        width: 22px;
    }

/* Main */

    .main {
        margin-top: 40px;
    }

    .banner {
        margin-bottom: 100px;
    }

    .img-banner {
        width: 60%;
    }

    .main-subtitle {
        font-size: 24px;
    }

    .background-product {
        height: 280px;
    }

    .image-product {
        width: 70%;
        max-height: 220px;
    }

    .about {
        font-size: 15px;
    }
    
    .value {
        font-size: 17px;
    }

/* Footer */

    .subtitle-footer {
        font-size: 26px;
    }

    .subtitle-footer.-about {
        font-size: 15px;
    }

    .map-items {
        font-size: 15px;
    }

    .networks {
        width: 18px;
    }

    .reminder {
        font-size: 15px;
    }
}


@media only screen and (max-width: 1280px) {

/* Header */

    #container {
        width: 100%;
        padding: 0 50px;
    }

    .apple-icon {
        width: 40px;
    }

    .main-items {
        width: 45%;
    }

    .items {
        margin-right: 4px;
        margin-left: 4px;
        font-size: 15px;
    }

    .form-search {
        width: 300px;
        height: 30px;
    }

    .input-search {
        padding-left: 35px;
        font-size: 13px;
    }

    .search-icon {
        top: -8px;
        width: 50px;
        left: -3px;
    }

    .icons {
        grid-gap: 20px;
        margin-left: 30px;
        
    }

    .customer-icon {
        width: 15px;
    }

    .cart-icon {
        width: 17px;
    }

/* Main */

    .main {
        margin-top: 20px;
    }

    .banner {
        margin-bottom: 100px;
    }

    .main-subtitle {
        font-size: 15px;
    }

    .all-products {
        font-size: 12px;
    }

    .background-product {
        height: 280px;
    }

    .image-product {
        width: 70%;
        max-height: 220px;
    }

    .products {
        margin-top: 20px;
        gap: 30px;
    }

    .about {
        font-size: 12px;
    }
    
    .value {
        font-size: 13px;
    }

/* Footer */

    .main-footer {
        margin-top: 100px;
    }

    .subtitle-footer {
        font-size: 22px;
    }

    .subtitle-footer.-about {
        font-size: 15px;
    }

    .map-items {
        font-size: 14px;
    }

    .footer-icon {
        gap: 48px;
    }

    .networks {
        width: 16px;
    }

    .reminder {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1200px) {
    .form-search {
        width: 240px;
        height: 30px;
    }

    .main-items {
        gap: 10px;
    }

    .background-product {
        height: 260px;
    }
    .image-product {
        width: 67%;
        max-height: 200px;
    }
}

@media only screen and (max-width: 1050px) {
    .background-product {
        height: 245px;
    }

    .image-product {
        width: 67%;
        max-height: 185px;
    }
}

@media only screen and (max-width: 1006px) {
/* Header */

    #container {
        padding: 0 20px;
    }

    .form-search {
        width: 200px;
    }

    .items {
        font-size: 13px;
    }

/* Main */

    .background-product {
        height: 230px;
    }

    .image-product {
        width: 65%;
        max-height: 180px;
    }

/* Footer */

    .subtitle-footer {
        font-size: 20px;
    }

    .subtitle-footer.-about {
        font-size: 14px;
    }

    .map-items {
        font-size: 13px;
    }

    .footer-icon {
        gap: 40px;
    }

    .networks {
        width: 14px;
    }

    .reminder {
        font-size: 13px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 920px) {
    .main-items {
        gap: 5px;
    }

    .background-product {
        height: 200px;
    }

    .image-product {
        width: 66%;
        max-height: 145px;
    }
}

@media only screen and (max-width: 830px) {

    .background-product {
        height: 185px;
    }
}

@media only screen and (max-width: 800px) {
/* Header */

    .main-menu-burguer {
        display: flex;
    }

    .main-header {
        padding: 25px 0;
    }

    .main-items {
        display: none;
    }

    .form-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
    }

    .hamburguer {
        display: flex;
    }
    
    .apple-icon {
        width: 40px;
    }

    .menu {
        width: 25px;
        cursor: pointer;
        transition: transform 170ms cubic-bezier(.45, .97, .68, 2.48);
    }

    .menu:hover {
        transform: scale(1.09);
    }

    .input-search {
        width: 400px;
        height: 35px;
        font-size: 13px;
    }

    .search-icon {
        top: -8px;
    }

    .icons {
        display: none;
    }

/* Main */

    .main {
        margin-top: 30px;
    }

    .all-products {
        display: none;
    }

    .product-items {
        margin-bottom: 60px;
    }

    .banner {
        margin-bottom: 40px;
    }

    .background-product {
        height: 220px;
    }

    .image-product {
        max-height: 175px;
    }

    .img-banner {
        width: 75%;
    }

    .main-subtitle {
        font-size: 18px;
    }

    .about {
        font-size: 13px;
        font-weight: 300;
    }

    .value {
        font-size: 13px;
        font-weight: 300;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .items-about {
        top: 15px;
    }

    .value {
        margin-top: 8px;
    }

/* Footer */

    .main-footer {
        margin-top: 50px;
    }

    .subtitle-footer {
        font-size: 19px;
        font-weight: 500;
    }

    .subtitle-footer.-about {
        font-size: 15px;
        font-weight: 300;
    }

    .footer-about {
        display: grid;
        grid-template-columns: 1fr;
    }

    .map-items {
        font-size: 12px;
        font-weight: 300;
    }

    .map-main {
        font-weight: 500;
    }

    .networks {
        width: 14px;
        display: none;
    }

    .reminder {
        font-size: 12px;
        font-weight: 300;
        line-height: 30px;
        text-align: left;
        margin-top: 15px;
    }

}

@media only screen and (max-width: 690px) {

    .form-search {
        width: 60%;
    }

    .background-product {
        height: 200px;
    }
    
    .image-product {
        max-height: 155px;
    }
}

@media only screen and (max-width: 610px) {
    .form-search {
        width: 65%;
    }

    .background-product {
        height: 185px;
    }

    .image-product {
        max-height: 145px;
    }
}

@media only screen and (max-width: 570px) {
    .background-product {
        height: 170px;
    }

    .image-product {
        width: 65%;
        max-height: 165px;
    }

    .image-product {
        max-height: 135px;
    }
}

@media only screen and (max-width: 540px) {
    #container {
        padding: 0 30px;
    }

    .menu-items h2{
        font-size: 20px;
    }

    .items-menu {
        font-size: 16px !important;
        font-weight: 400;
    }

    .form-search {
        width: 65%;
    }

    .input-search {
        width: 100%;
    }

    .apple-icon {
        width: 43px;
    }

    .menu {
        width: 28px;
    }
/* Main */

    .main-subtitle {
        font-size: 18px;
    }

    .about {
        font-size: 14px;
        font-weight: 300;
    }

    .value {
        font-weight: 300;
    }

    .product-items {
        margin-bottom: 50px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .background-product {
        height: 210px;
    }

    .image-product {
        width: 65%;
        max-height: 170px;
    }

    .img-banner {
        width: 90%;
    }

    .banner {
        margin-bottom: 50px;
    }

/* Footer */
    .subtitle-footer {
        font-size: 19px;
        font-weight: 500;
    }

    .subtitle-footer.-about {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .map-items {
        font-size: 13px;
        font-weight: 300;
    }

    .map-main {
        font-weight: 500;
        font-size: 14px;
    }

    .reminder {
        margin-top: 15px;

        font-size: 13px;
        font-weight: 300;
    }
}

@media only screen and (max-width: 480px) {
    #container {
        padding: 0 20px;
    }

    .input-search {
        font-size: 12px
    }

    .search-icon {
        width: 45px;
        top: -6px;
    }

    .apple-icon {
        width: 36px;
    }

    .menu {
        width: 25px;
    }

    .background-product {
        height: 200px;
    }
}

@media only screen and (max-width: 450px) {
/* Main */
    .background-product {
        height: 180px;
    }

    .image-product {
        width: 65%;
        max-height: 155px;
    }
}

@media only screen and (max-width: 425px) {
    /* Main */
    .background-product {
        height: 175px;
    }

    .image-product {
        width: 64%;
        max-height: 155px;
    }
}

@media only screen and (max-width: 400px) {
    /* Main */
    .background-product {
        height: 160px;
    }

    .image-product {
        width: 64%;
        max-height: 135px;
    }
}

@media only screen and (max-width: 370px) {
    /* Main */
    .background-product {
        height: 145px;
    }

    .image-product {
        width: 64%;
        max-height: 120px;
    }
}

/* Product */

@media only screen and (max-width: 1400px) {
    .main-image {
        width: 400px;
        height: auto;
    }

    .image-item {
        width: 100%;
        max-height: 546px;
    }

    .product-info {
        padding-left: 90px;
    }

    .title-product {
        font-size: 25px;
    }

    .product-status {
        font-size: 17px;
    }

    .description-price {
        font-size: 18px;
    }

    .special-price {
        font-size: 30px;
    }

    .price {
        font-size: 30px;
    }

    .status-description {
        font-size: 16px;
    }

    .product-description {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .main-image {
        width: 100%;
    }

    .main-image {
        width: 280px;
        margin-bottom: 45px;
    }

    .product-info {
        width: 80%;
        margin: 0 auto;
    }

    .container-detail {
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
    }
    .main-image {
        width: 350px;
    }

    .image-item {
        width: 100%;
    }

    .product-info {
        padding-left: 0;
    }

    .title-product {
        font-size: 21px;
    }

    .product-status {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .description-price {
        font-size: 17px;
    }

    .special-price {
        font-size: 30px;
    }

    .price {
        font-size: 30px;
    }

    .button-cart {
        width: 240px;
        height: 65px;
        font-size: 15px;

        margin-bottom: 35px;
    }

    .status-description {
        font-size: 14px;
        font-weight: 300;
    }

    .product-description {
        font-size: 14px;
        word-spacing: 7px;
        font-weight: 300;
    }

    .cards-wrapper {
        width: 80%;
    }

    .card-image {
        width: 30px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 580px) {
    .main-image {
        width: 280px;
        margin-bottom: 40px;
    }

    .product-info {
        width: 90%;
    }

    .title-product {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 24px;
    }

    .product-status {
        font-size: 14px;
        padding-bottom: 25px;
    }

    .description-price {
        font-size: 15px;
    }

    .special-price {
        font-size: 25px;
    }

    .price {
        font-size: 25px;
    }

    .main-price {
        margin-bottom: 35px;
    }

    .button-cart {
        width: 200px;
        height: 65px;
        font-size: 12px;
        margin-bottom: 25px;
    }

    .status-description {
        font-size: 14px;
    }

    .product-description {
        font-size: 14px;
    }

    .card-image {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 480px) {
        .main-image {
            width: 100%;
            max-width: 230px;
        }
    
        .button-cart {
            width: 190px;
            height: 55px;
            font-size: 12px;
        }
    
        .status-description {
            font-size: 14px;
        }
    
        .product-description {
            font-size: 14px;
        }
    
        .card-image {
            margin-bottom: 50px;
        }
}

/* Customer */

@media only screen and (max-width: 800px) {
    .customer-main-title {
        font-size: 30px;
    }

    .customer-main-form input, .customer-form-wrapper label {
        width: 390px;
        height: 47px;
    }

    .customer-recover-password, .customer-create-account {
        text-decoration: none;
    }

    .customer-recover-password {
        font-size: 17px;
    }

    .customer-create-account {
        font-size: 18px;
    }
}

@media only screen and (max-width: 540px) {
    .customer-main-title {
        font-size: 28px;
    }

    .customer-form-wrapper label p {
        font-size: 13px;
    }

    .customer-main-form input, .customer-form-wrapper label {
        width: 330px;
        height: 45px;
    }

    .customer-recover-password {
        font-size: 14px;
    }

    .customer-main-button {
        width: 145px;
        height: 45px;
        font-size: 15px;
    }

    .customer-create-account {
        font-size: 15px;
    }
}

@media only screen and (max-width: 430px) {
    .customer-main-title {
        font-size: 28px;
    }

    .customer-form-wrapper {
        width: 100%;
    }

    .customer-main-form, .customer-form-wrapper label {
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .customer-main-form input, .customer-form-wrapper label {
        box-sizing: border-box;
        width: 100%;
        height: 43px;
    }

    .customer-main-button {
        width: 155px;
        height: 45px;
        font-size: 14px;
    }

    .customer-create-account {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1150px) {
    .customer-read-container {
        width: 95%;
    }
    .table-title {
        font-size: 18px;
    }

    .column-button {
        justify-content: right;
    }

    .column-button a {
        width: 55px;
        height: 39px;
    }

    .main-table {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .customer-read-container {
        width: 97%;
    }

    .table-four {
        text-align: right;
        padding-right: 5px;
    }

    .table-third, .column-third {
        display: none;
    }

    .table-second {
        text-align: center;
    }

    .column-second {
        text-align: center;
    }

    .main-table {
        font-size: 15px;
    }
}

@media only screen and (max-width: 580px) {
    .column-button, .table-four {
        display: none;
    }

    .column-second {
        text-align: right;
    }

    .table-title {
        width: 50%;
        font-size: 16px;
    }

    .table-second {
        text-align: right;
    }

    .column-email {
        font-size: 14px;
    }

    .column-second {
        text-align: right;
    }

    .table-photo {
        width: 40px;
    }

    .column-email {
        word-break: break-word;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .table-title {
        font-size: 15px;
    }
    .column-name-wrapper {
        gap: 5px;
    }
    .column-name {
        width: 115px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .column-name {
        width: 100px;
        font-size: 14px;
    }

    .table-photo {
        width: 37px;
    }
}

@media only screen and (max-width: 350px) {
    .column-name {
        width: 100px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1150px) {
    .product-title {
        width: 25%;
        text-align: center;
    }

    .product-column {
        text-align: center;
    }

    .table-first {
        text-align: left;
    }

    .table-remove {
        text-align: right;
    }

    .column-remove {
        text-align: right;
    }

    .column-product-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .main-table .table-column {
        padding-bottom: 20px;
    }

    .column-first {
        font-size: 15px;
    }

    .column-third {
        font-size: 15px;
    }
}

@media only screen and (min-width: 801px) {
    .button-quantity {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .column-quantity {
        display: none;
    }

    .cart-button-buy {
        width: 200px;
    }

    .table-quantity {
        display: none;
    }

    .button-quantity {
        display: inline-block;
        margin-right: 35px;
    }

    .cart-subtitle {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cart-create-account {
        margin-bottom: 50px;
        text-decoration: none;
        font-weight: 300;
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    .column-first, .column-value {
        font-size: 14px;
    }

    .product-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 570px) {
    .cart-button-buy {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .column-first {
        text-align: left;
    }

    .product-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 750px) {
    .customer-order-title {
        width: 200px;
        font-size: 19px;
        margin-top: 100px;
        font-weight: 500;
    }
    .customer-list-products {
        width: 90%;
    }
    
    .customer-orders {
        width: 100%;
    }
}

@media only screen and (max-width: 580px) {
    .customer-orders p:nth-child(1) {
        font-size: 15px;
    }

    .customer-order {
        margin-bottom: 20px;
    }

    .customer-orders {
        margin-bottom: 60px;
    }

    .customer-orders p{
        font-size: 14px;
        font-weight: 300;
    }

    .customer-orders p:nth-child(1) {
        margin-bottom: 10px;
        font-weight: 400;
    }

    .customer-button {
        width: 120px;
        height: 35px;
        font-size: 15px;
    }

    .customer-list-name {
        width: 240px;
    }
}

@media only screen and (max-width:480px) {
    .customer-list-name {
        width: 200px;
    }

    .customer-list-name p {
        font-size: 14px;
    }

    .customer-button {
        width: 95px;
        height: 35px;
        font-size: 13px;
    }

    .customer-photo-product {
        width: 45px;
    }
}

@media only screen and (max-width: 370px) {
    .customer-list-name p {
        width: 120px;
    }

    .customer-button {
        width: 75px;
        height: 35px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 650px) {
    .ms {
        width: 300px;
        margin-top: 20px;
        font-size: 15px;
    }

    .flash-message {
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .ms {
        width: 230px;
        font-size: 14px;
    }
}