.customer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 110px;
}

.customer-main-title {
    font-weight: 400;
    font-size: 35px;

    color:#292929;

    margin-bottom: 35px;
}

.customer-main-form {
    display: flex;
    flex-direction: column;
}

.customer-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 13px;
}

.customer-main-form input{
    width: 425px;
    height: 47px;
    padding-left: 20px;

    font-weight: 400;
    font-size: 15px;

    color: #121212;
}

.mb-3 {
    margin: 0 !important;
}

.customer-image {
    border: 1px solid #121212;
}

.customer-recover-password {
    font-weight: 300;

    font-size: 15px;

    text-decoration: underline;
    color: #292929;

    margin-bottom: 40px;
}

.customer-main-button {
    width: 150px;
    height: 50px;

    background-color: #0f0f0f;

    border: none;
    border-radius: 3px;

    font-weight: 300;
    font-size: 16px;
    color: #fff;

    margin: 0 auto;
    margin-bottom: 15px;

    transition: transform 150ms cubic-bezier(.45,.97,.68,2.48);

    cursor: pointer;
}

.customer-main-button:hover {
    transform: scale(1.04);
}

.customer-create-account {
    color:#292929;

    font-weight: 300;
    font-size: 16px;

    text-decoration: underline;
}

.flash-message {
    display: flex;
    justify-content: end;

    border-radius: 5px;

    padding: 0 15px;
    font-size: 22px;

    width: 100%;
    text-align: center;
    margin-bottom: -30px;

    animation: message 0.4s forwards;
    animation-delay: 3s;
}

@keyframes message {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ms{ 
    width:400px;
    padding: 10px;
    text-align: center;
    display:block;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-weight:100; 
    font-size:16px;
}
	 
.erro { background-color:#FFCACA; border:2px #a60202 solid; color:#a60202; border-radius:5px; }
.ok   { background-color:#A6FFBC; border:2px #00bd00 solid; color:#00bd00; border-radius:5px; }


.customer-read-container {
    width: 80%;
    margin: 0 auto;
}
.main-table {
    width: 100%;
    margin: 0 auto;

    margin-top: 60px;

    font-size: 17px;
    font-weight: 300;
    color: #292929;
}

.table-title {
    text-align: left;
    width: 33.333%;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

.table-four {
    text-align: center;
}

.table-title.-center {
    text-align: center;
}

.table-photo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 20%;
    cursor: pointer;
}

.column-name-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.column-button {
    display: flex;
    justify-content: center;
}

.table-button {
    text-align: center;
}

.column-button a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 43px;
    cursor: pointer;

    background: #fe4343;
    border-radius: 10px;
    border: none;

    font-weight: 400;
    font-size: 16px;
    color: #fff;

    transition: transform 150ms cubic-bezier(.45,.97,.68,2.48);
}

.column-button a:hover {
    transform: scale(1.03);
}

.customer-list-products {
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
}

.customer-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 25px 0;
}

.customer-photo-product {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 20%;
    cursor: pointer;
}

.customer-list-name {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 400px;
    gap: 20px;
}

.customer-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 40px;
    cursor: pointer;

    background: #00a8ff;
    border-radius: 10px;
    border: none;

    font-weight: 400;
    font-size: 16px;
    color: #fff;

    transition: transform 150ms cubic-bezier(.45,.97,.68,2.48);
}

.customer-button:hover {
    transform: scale(1.03);
}

.customer-order-title {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}

.customer-orders {
    margin-bottom: 90px;
    border-bottom: 1px solid #c2c2c2;
}

.customer-orders > p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.customer-order {
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-email {
    word-break: break-all;
}

.customer-form-wrapper input[type="file"]{
    display: none;
}

.customer-form-wrapper label {
    display: flex;
    align-items: center;
    width: 425px;
    height: 47px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 15px;
    color: #7e7e7e;
    margin: 0;
}

.customer-form-wrapper label p{
    background-color: #000;
    padding: 7px 12px;
    border-radius: 5px;
    margin: 0;
    color: #fff;
    font-size: 14px;
}