.cart-logout {
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-subtitle {
    letter-spacing: 0.3px;
    font-weight: 400;
    font-size: 25px;

    text-align: center;

    margin-bottom: 10px;
}

.column-remove {
    text-align: right;
}

.column-remove a {
    color: #fe4343;
}

.product-column {
    padding-bottom: 20px;
}

.column-product-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
}

.cart-create-account {
    color:#292929;

    font-weight: 400;
    font-size: 16px;

    text-decoration: underline;
}

.cart-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.cart-button-buy {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 260px;
    height: 50px;
    cursor: pointer;

    background: #4CD137;
    border-radius: 10px;
    border: none;

    font-weight: 400;
    font-size: 16px;
    color: #fff;

    transition: transform 150ms cubic-bezier(.45,.97,.68,2.48);
}

.cart-button-buy:hover {
    transform: scale(1.03);
}

.title-exit {
    text-align: right;
}

.cart-exit {
    display: flex;
    justify-content: right;
}